.header {
	background: #222222;
	&__popover{
		padding: 20px;
		&__top{
			display: flex;
			column-gap: 10px;
			align-items: center;
			margin-bottom: 20px;
		}
		&__list{
			display: flex;
			flex-direction: column;
			row-gap: 10px;
		}
		&__line{
			display: flex;
			flex-direction: row;
			column-gap: 10px;
			align-items: center;
			padding: 5px;
			&:not(:nth-child(2)):hover{
				background: #FFFFFF50;
				cursor: pointer;

		}
		}
	}
	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__title{
		cursor: pointer;
	}
	&__left {
		display: flex;
		align-items: center;
		column-gap: 35px;
	}

	&__right {
		display: flex;
		align-items: center;
		column-gap: 20px;
	}
	&__search {
		position: relative;
		&-icon {
			position: absolute;
			top: 6px;
			left: 8px;
			font-size: 20px;
			cursor: pointer;
		}
		&-field {
			width: 230px;
			background: #424242;
			border-radius: 8px;
			height: 32px;
			border: none;
			padding: 0 12px 0 34px;
		}
	}
	&__notif {
		font-size: 27px;
		cursor: pointer;
	}
	&__user {
		display: flex !important;
		align-items: center !important;
		column-gap: 4px !important;
		cursor: pointer !important;
		padding: 15px 10px !important;
		height: auto !important;
		border-radius: 0!important;
		background: transparent!important;
		border: none !important;
		&:hover {
			background: #424242 !important;
		}
		&-photo {
			border-radius: 50%;
			height: 32px;
			width: 32px;
		}
		&-icon {
			font-size: 20px;
		}
	}
}
